<section>
  <div class="container">
    <form class="forms-sample" [formGroup]="addForm" (ngSubmit)="addFormSubmit(addForm)">
      <div class="row mt-5">
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
              placeholder="Enter Candidate Name" formControlName="name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="party" aria-describedby="emailHelp"
              placeholder="Enter Party Name" formControlName="party">
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary" (click)="showTable()">Show Voting Data</button>
        </div>
      </div>
    </form>

    <!-- 
    <button type="button" class="btn btn-primary" (click)="showTable()">Show Table</button> -->

    <div class="row mt-5">
      <div class="table-responsive" *ngIf="show">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Party Name</th>
              <th scope="col">Candidate Name</th>
              <th scope="col">Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let name of candidateName;let i = index;">
              <th scope="row">{{i+1}}</th>
              <td>{{name.party}}</td>
              <td>{{name.name}}</td>
              <td>{{name.vote}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </div>
</section>